/**
 * @define utilities;
 *
 * Fill SVGs
 *
 * via https://tympanus.net/codrops/2015/07/16/styling-svg-use-content-css/
 */

.u-svgFillWhite {
  fill: var(--colour-white);
}

.u-svgFillGreyLight {
  fill: var(--colour-grey-light);
}

.u-svgFillGreyDark {
  fill: var(--colour-grey-dark);
}
