{% load static %}

<ul class="SocialList">
  <li class="SocialList-item">
    <a class="SocialList-link" href="https://facebook.com/theallnewmagic">
      <svg class="SocialList-icon SocialList-icon--facebook"><use xlink:href="{% static 'img/icons/icons.svg' %}#icon-facebook"></use></svg>
    </a>
  </li>
  <li class="SocialList-item">
    <a class="SocialList-link" href="https://instagram.com/theallnewmagic">
      <svg class="SocialList-icon SocialList-icon--instagram"><use xlink:href="{% static 'img/icons/icons.svg' %}#icon-instagram"></use></svg>
    </a>
  </li>
  <li class="SocialList-item">
    <a class="SocialList-link" href="https://twitter.com/theallnewmagic">
      <svg class="SocialList-icon SocialList-icon--twitter"><use xlink:href="{% static 'img/icons/icons.svg' %}#icon-twitter"></use></svg>
    </a>
  </li>
</ul>
