{% load static %}

<ul class="SocialList">
  <li class="SocialList-item">
    <a class="SocialList-link" href="https://facebook.com/{{SITE_SOCIAL}}" title="Facebook">
      <svg class="SocialList-icon SocialList-icon--facebook"><use xlink:href="{% static 'img/icons/icons.svg' %}#icon-facebook"></use></svg>
      <span class="u-visuallyHidden">Facebook</span>
    </a>
  </li>
  <li class="SocialList-item">
    <a class="SocialList-link" href="https://instagram.com/{{SITE_SOCIAL}}" title="Instagram">
      <svg class="SocialList-icon SocialList-icon--instagram"><use xlink:href="{% static 'img/icons/icons.svg' %}#icon-instagram"></use></svg>
      <span class="u-visuallyHidden">Instagram</span>
    </a>
  </li>
  <li class="SocialList-item">
    <a class="SocialList-link" href="https://twitter.com/{{SITE_SOCIAL}}" title="Twitter">
      <svg class="SocialList-icon SocialList-icon--twitter"><use xlink:href="{% static 'img/icons/icons.svg' %}#icon-twitter"></use></svg>
      <span class="u-visuallyHidden">Twitter</span>
    </a>
  </li>
</ul>
