{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
      {% include '_partials/meta.html' %}
    {% endblock %}
    {% block extra_css %}{% endblock %}
  </head>

  <body>

    {% if user.is_authenticated and user.is_superuser %}
      {% include 'components/global/AdminLink/AdminLink.html' %}
    {% endif %}

    <div class="Wrap">
      <div class="Wrap-outer">
        <div class="Wrap-inner">

          {% include 'components/global/Header/Header.html' with SITE_SOCIAL=SITE_SOCIAL header_pages=header_pages only %}

          <main class="Main">
            {% block main %}
            {% endblock %}
          </main>

          <div class="Main-footer">
            {% include 'components/global/Footer/Footer.html' with SITE_SOCIAL=SITE_SOCIAL footer_pages=footer_pages only %}
          </div>

        </div>
      </div>
    </div>

    {% block extra_js %}{% endblock %}
    <script src="{% static 'js/site.js' %}"></script>

    {% if ANALYTICS %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PLYK55TMC5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ANALYTICS}}');
    </script>

    {% endif %}

  </body>
</html>
